{{ with .Site.Params.welcome }}
  <section class="site-welcome-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="site-welcome-wrapper">
            <div class="site-welcome-company">
              <h1>
                {{ .Heading }}
              </h1>
            </div>
            <div class="site-welcome-center-boundary">
              <p></p>
            </div>
            <div class="site-welcome-description">
              <p>
                {{ .Description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-welcome-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="site-welcome-wrapper">
            <div class="site-welcome-description">
              <p>
                {{ .Description2 }}
              </p>
            </div>
            <div class="site-welcome-center-boundary">
              <p></p>
            </div>
            <div class="site-welcome-company">
              <div class="site-cta-buttons">
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}